@model Employee

<h2 class="text-danger">Delete Employee</h2>

<p class="text-danger">Are you sure you want to delete this Employee?</p>

<div>
    <h4>@Model.Name</h4>
</div>

<hr />

<div class="row">
    <div class="col-2">
        <h5>Age</h5>
    </div>
    <div class="col-10">@Model.Age</div>
</div>

<div class="row">
    <div class="col-2">
        <h5>Salary</h5>
    </div>
    <div class="col-10">@Model.Salary</div>
</div>

<div class="row">
    <div class="col-2">
        <h5>Department</h5>
    </div>
    <div class="col-10">@Model.Department!.DeptName</div>
</div>

<hr />

<form action="~/Employee/Delete/@Model.Id" method="post">
    <input type="hidden" name="confirm" value="Yes" />
    <input type="submit" value="Delete" class="btn btn-danger"/> |
    <a href="~/Employee/Index" class="btn btn-secondary">Cancel</a>
</form>